div(style='text-align:center')
  h1 Detalle de productos cargados
div(style='text-align:center')            
each i in products
    div(style='text-align:center')
        hr
        p= "Nombre: " + i.name  
        p= "Precio: " + i.price 
        img(src=i.img, alt=i.img)
else
    div(style='text-align:center')
        h3 No hay productos para mostrar
div(style='text-align:center')
    hr
    button(style='margin-top: 30px')
        a(href='/' style='text-decoration:none') Volver a carga de productos     
        
   


