<div style="text-align:center">
<h1 style="text-align:center; margin-left:0px; margin-right:0px">Error al cargar producto, falta algún dato mandatorio</h1>
</div>
<div style="text-align:center">
<button style="margin-top: 30px"><a href="/" style="text-decoration:none">Volver a carga de productos</a></button>
</div>
<div style="text-align:center">
<button style="margin-top: 30px"><a href="/productos" style="text-decoration:none">Ver historial de productos</a></button>
</div>